@media (min-width: 37.5rem) {
  .grid {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .col {
    display: table-cell;
  }

  .grid-padded {
    margin-left:  -1rem;
    margin-right: -1rem;
  }
  .grid-padded .grid {
    border-spacing: 1rem 0;
  }
}
